python-dotenv
pandas
numpy
scikit-learn
matplotlib
seaborn
spacy
openai
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-ollama
langchain-chroma
sentence-transformers
huggingface_hub
chromadb
datasets
ragas
rouge_score
